---
import BaseLayout from "../../layouts/BaseLayout.astro";

import TagsFilters from "../../components/TagsFilters.astro";

import { getCollection } from "astro:content";
import { slugFromId } from "../../utils/slug";
import { flattenTags } from "../../utils/tags";

const monsters = await getCollection("monster");
const npcs = await getCollection("npc");

const creatures = [...monsters, ...npcs];
creatures.sort((a, b) => a.data.name.localeCompare(b.data.name));

const grouped = creatures.reduce((acc, entry) => {
  const first = entry.data.name[0].toUpperCase();

  if (!acc[first]) acc[first] = [];
  acc[first].push(entry);

  return acc;
}, {} as Record<string, typeof creatures>);

const allTags = [
  ...new Set(
    creatures
      .flatMap((c) => flattenTags(c.data.tags))
      .filter(Boolean)
      .sort((a, b) => a.localeCompare(b))
  ),
];

const page = {
  title: "Bestiary",
  path: "/bestiary"
}
---

<BaseLayout page={page}>

  <TagsFilters tags={allTags} />
  <br/>

  <div class="index-columns">
    {Object.keys(grouped)
      .sort()
      .map(letter => (
        <section>
          <div class="index-section">
            <h2>{letter}</h2>
            <ul>
              {grouped[letter].map(entry => (
                <li>
                  <a href={`/bestiary/${entry.collection}/${slugFromId(entry.id)}`}>
                    {entry.data.name}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        </section>
      ))
    }
  </div>

</BaseLayout>
