---
import BaseLayout from "../../../layouts/BaseLayout.astro";

import TagsList from "../../../components/TagsList.astro";

import "../../../styles/creature.css";

import { getCollection, getEntry } from "astro:content";
import { slugFromId } from "../../../utils/slug";

export async function getStaticPaths() {
  const npcs = await getCollection("npc");

  return npcs.map((entry) => ({
    params: { slug: slugFromId(entry.id) },
    props: { id: entry.id },
  }));
}

const { id } = Astro.props;
const npc = await getEntry("npc", id);

// Shorthand
const statblock = npc.data;

const page = {
  title: "Bestiary",
  path: "/bestiary",
  metaTitle: `${statblock.name} | Bestiary`,
}
---

<BaseLayout page={page}>
  <h3><strong>NPC</strong></h3>
  <h2 class="db-green-dark">{statblock.name}</h2>
  <hr>
  <TagsList tags={statblock.tags} />
  <br/>

  <div class="page-columns">

    {statblock.description && (
      <div class="db-font-normal mb-4">
        {statblock.description}
      </div>
    )}

    <div class="stats-box | mb-5 mb-lg-4">
      <table class="stats-table | db-font-normal">
        <tr>
          <td>
            <term>Morale:</term>
            <span class="d-inline-block">{statblock.morale ?? "—"}</span>
          </td>

          <td colspan="2">
            <term>D. Bonus:</term>
            <span class="d-inline-block">
              {
                statblock.damage_bonuses
                  ? statblock.damage_bonuses.map(db => `${db.type}+${db.value}`).join(", ")
                  : "—"
              }
            </span>
          </td>
        </tr>

        <tr>
          <td>
            <term>Move:</term>
            <span class="d-inline-block">{statblock.move}</span>
          </td>

          <td colspan="2">
            <term>HP:</term>
            <span class="d-inline-block">{statblock.hp}</span>

            <term class="ms-2">WP:</term>
            <span class="d-inline-block">{statblock.wp ?? "—"}</span>
          </td>
        </tr>

        {statblock.skills && (
          <tr>
            <td colspan="3">
              <term class="me-1">Skills:</term>
              {statblock.skills.map((s, i) => (
                <>
                  <span class="d-inline-block capitalized">{s.name} {s.level}</span>
                  {i < statblock.skills.length - 1 ? ", " : ""}
                </>
              ))}
            </td>
          </tr>
        )}

        {statblock.abilities && (
          <tr>
            <td colspan="3">
              <term class="me-1">Abilities:</term>
              {statblock.abilities.map((a, i) => (
                <>
                  <span class="d-inline-block capitalized">{a}</span>
                  {i < statblock.abilities.length - 1 ? ", " : ""}
                </>
              ))}
            </td>
          </tr>
        )}

        {statblock.spells && (
          <tr>
            <td colspan="3">
              <term class="me-1">Spells:</term>
              {statblock.spells.map((s, i) => (
                <>
                  <span class="d-inline-block" set:html={s}></span>
                  {i < statblock.spells.length - 1 ? ", " : ""}
                </>
              ))}
            </td>
          </tr>
        )}

        {statblock.armors && (
          <tr>
            <td colspan="3">
              <term class="me-1">Typical Armor:</term>
              {statblock.armors.map((a, i) => (
                <>
                  <span class="d-inline-block">{a.name} ({a.rating})</span>
                  {i < statblock.armors.length - 1 ? ", " : ""}
                </>
              ))}
            </td>
          </tr>
        )}

        {statblock.weapons && (
          <tr>
            <td colspan="3">
              <term class="me-1">Typical Weapons:</term>
              {statblock.weapons.map((w, i) => (
                <>
                  <span class="d-inline-block">{w.name} ({w.damage})</span>
                  {i < statblock.weapons.length - 1 ? ", " : ""}
                </>
              ))}
            </td>
          </tr>
        )}
      </table>

      {statblock.resistance && (
        <div class="mt-1">
          <p>
            <b>Resistance:</b> {statblock.resistance}
          </p>
        </div>
      )}

      {statblock.immunity && (
        <div>
          <p>
            <b>Immunity:</b> {statblock.immunity}
          </p>
        </div>
      )}

      {statblock.weakness && (
        <div>
          <p>
            <b>Weakness:</b> {statblock.weakness}
          </p>
        </div>
      )}

      {statblock.effects && (
        <div>
          {statblock.effects.map((e) => (
            <p>
              <b>{e.name}:</b> {e.description}
            </p>
          ))}
        </div>
      )}

    </div>
  </div>
</BaseLayout>
